- 127.0.0.1 localhost.localdomain localhost
- 192.168.0.1 localhost.localdomain localhost
{% for x in groups.all %}
- {{ hostvars[x].ansible_facts.default_ipv4.address }} {{ hostvars[x].ansible_facts.fqdn }} {{ hostvars[x].ansible_facts.hostname }} 
{% endfor %}


